details {
    padding: 20px 0px 20px 25px;
    max-width: 53%;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-radius: 25px;
    /* border-style: solid; */
    /* border-color: rgb(114, 83, 237); */
}
